html {
  scroll-behavior: smooth;
  background-color: #F5F3F3;
}

header {
  position: absolute;
  width: 100%;
  z-index: 3;
}

header .navbar a {
  color: #F3ECE7;
}

header .navbar a:hover {
  color: #E7A3A2;
}

header a.logo {
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.7em;
  color: #EDC0BF;
}

header a.logo:hover {
  color: #E08585;
}

header nav {
  background-color: #422939;
}

header li.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #E7A3A2;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

header li.nav-item:hover::after {
  width: 100%;
}

header .custom-toggler.navbar-toggler {
  border-color: #E7A3A2;
}

/*Hamburger menu*/

header .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(237, 192, 191, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  margin: 0;
}

p {
  font-family: josefin-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: large;
}


.about {
  padding-top: 7%;
  color: #422939;
  background-color: #F5F3F3;
}

.home {
  text-align: left;
  padding: 0;
  background-image: url("../images/Background-2.png");
  background-attachment: fixed;
  background-color: #EDC0BF;
  background-size: cover;
  height: 100vh;
  color: #F3ECE7;
}

.home .centered {
  padding-top: 35vh;
  color: #422939;
  font-family: great-vibes, sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
  font-size: 7em;
  padding-left: 2rem;
}

.home #sub {
  color: #422939;
  font-size: 2em;
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.home #learn button {
  background-color: #422939;
  color: #F5F3F3;
  overflow: hidden;
}

.home #learn button:hover {
  background-color: #E08585;
}

#hrabout {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: auto;
}

#hrhome {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 2rem;
  margin-bottom: 3em;
  margin-top: 1em;
  opacity: 0.0;
  -webkit-animation: fadeinless 2s 1 forwards, separator-width 1s ease-out forwards;
          animation: fadeinless 2s 1 forwards, separator-width 1s ease-out forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#hrcontact{
  margin-left: 0;
} 

@-webkit-keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}


/*Responsive Design attributes*/


@media screen and (min-width: 300px) {
  .home {
    text-align: center;
  }
  .home .centered {
    font-size: 3em;
    padding-top: 35vh;
  }
  .home #sub {
    color: #422939;
    padding-left: 0;
    font-size: 1em;
    text-align: center;
  }
  #hrabout {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #hrhome {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
  }

  #hrcontact{
  margin-left: auto;
  } 

  .img-fluid{
     -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .home {
    text-align: center;
  }
  .home .centered {
    font-size: 6em;
    padding-top: 35vh;
  }
  #sub {
    color: #422939;
    padding-left: 0;
    font-size: 2em
  }
  #hrabout {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  #hrhome {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
  }

  #hrcontact{
  margin-left: auto;
  } 
}

@media screen and (min-width: 1200px) {
  .home {
    text-align: center;
  }
  .home .centered {
    font-size: 7em;
    padding-top: 35vh;
  }
  #sub {
    color: #422939;
    padding-left: 0;
    font-size: 2em;
  }
  #hrabout {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0;
  }
  #hrhome {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: auto;
  }
  #hrcontact{
  margin-left: 0;
  }
}



.myWork {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-color: #EDC0BF;
  color: #F3ECE7;
  padding-top: 3.2rem;
  padding-bottom: 5rem;
}

.myWork .img-thumbnail {
  opacity: 0.6;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: #422939 5px;
          box-shadow: #422939 5px;
  border-color: #fdc8cc;
}

.myWork .img-thumbnail:hover {
  opacity: 1;
}

.myWork h3 {
  font-size: 20px;
  color: #EDC0BF;
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.myWork p {
  opacity: 0.8;
}

.myServices {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #422939;
  background-color: #F5F3F3;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.myServices div.services {
  color: #01001fc4;
  border: solid 2px #E08585;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.myServices div.services .iconO {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.myServices div.services:hover {
  background-color: #ffffff;
}

.myServices div.services:hover .iconO {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.myServices #do {
  color: #E08585;
}

.btn-primary {
  background-color: #E08585;
  border-color: #422939;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #E08585 !important;
  border-color: #F3ECE7;
}

.btn-primary:active {
  background-color: #E08585 !important;
}

#contact {
  background-image: url("../images/Background-2.png");
  background-attachment: fixed;
  background-size: cover;
  background-color: #F3ECE7;
  color: #422939;
  padding-bottom: 0;
}


#contact .form-control:focus {
  border-color: #422939;
  -webkit-box-shadow: 0 0 10px #422939;
          box-shadow: 0 0 10px #422939;
}

#contact input::-webkit-input-placeholder, #contact textarea::-webkit-input-placeholder {
  font-weight: lighter;
  font-style: italic;
}

#contact input:-ms-input-placeholder, #contact textarea:-ms-input-placeholder {
  font-weight: lighter;
  font-style: italic;
}

#contact input::-ms-input-placeholder, #contact textarea::-ms-input-placeholder {
  font-weight: lighter;
  font-style: italic;
}

#contact input::placeholder, #contact textarea::placeholder {
  font-weight: lighter;
  font-style: italic;
}

#contact label {
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

footer {
  padding: 0;
  background-color: #422939;
  text-decoration: none;
  height: 6rem;
  max-width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100%
}

footer p {
  color: #F3ECE7;
}

footer li {
  text-decoration: none;
  list-style: none;
}

footer li a {
  color: #F3ECE7;
  font-size: 2em;
  -webkit-transition: .2s;
  transition: .2s;
}

footer li a:hover {
  color: #E08585;
}

h2, h3 {
  font-family: josefin-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

hr {
  color: #422939;
  width: 100px;
  border: solid 1px #E7A3A2;
  opacity: 0.7;
}

#hrwork {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinless {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes fadeinless {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

iframe {
  border: 1px solid #E08585;
}









/*Skillbars*/

.skill-bars {
  list-style: none;
  margin: 6rem -2.5rem;
  width: 50%
}
.skill-bars li {
  height: .5rem;
  background: #a1a1a1;
  width: 100%;
  margin-bottom: 5rem;
  padding: 0;
  position: relative;
}
.skill-bars li strong {
  position: absolute;
  left: 0;
  top: -2rem;
  font-family: "josefin-sans", sans-serif;
  color: #313131;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: normal;
}
.skill-bars li .progress {
  background: #313131;
  position: relative;
  height: 100%;
}
.skill-bars li .progress span {
  position: absolute;
  right: 0;
  top: -3.6rem;
  display: block;
  font-family: "josefin-sans", sans-serif;
  color: white;
  font-size: 1rem;
  line-height: 1;
  background: #313131;
  padding: .6rem .6rem;
  border-radius: 3px;
}
.skill-bars li .progress span::after {
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #313131;
  content: "";
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: visible;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: 1rem;
}

.skill-bars li .percent5   { width: 5%; }
.skill-bars li .percent10  { width: 10%; }
.skill-bars li .percent15  { width: 15%; }
.skill-bars li .percent20  { width: 20%; }
.skill-bars li .percent25  { width: 25%; }
.skill-bars li .percent30  { width: 30%; }
.skill-bars li .percent35  { width: 35%; }
.skill-bars li .percent40  { width: 40%; }
.skill-bars li .percent45  { width: 45%; }
.skill-bars li .percent50  { width: 50%; }
.skill-bars li .percent55  { width: 55%; }
.skill-bars li .percent60  { width: 60%; }
.skill-bars li .percent65  { width: 65%; }
.skill-bars li .percent70  { width: 70%; }
.skill-bars li .percent75  { width: 75%; }
.skill-bars li .percent80  { width: 80%; }
.skill-bars li .percent85  { width: 85%; }
.skill-bars li .percent90  { width: 90%; }
.skill-bars li .percent95  { width: 95%; }
.skill-bars li .percent100 { width: 100%; }


/*Common styles*/

.section-intro {
  max-width: 700px;
  margin-right: auto;
  text-align: left;
  margin-bottom: 3.6rem;
  position: relative;
}
.section-intro h1 {
  font-family: "josefin-sans", serif;
  font-size: 3.6rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
.section-intro h5 {
  color: #FF0077;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: .4rem;
}

/*About Section*/


#about {
  padding-top: 12rem;

}
#about .section-intro {
  margin-bottom: 3rem;
}

.intro-info {
  margin-top: 4.2rem;
  margin-right: -30px;
  margin-left: -30px;
}
.intro-info img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  margin: .9rem 0 0 0;
  float: left;
}
.intro-info .lead {
  text-align: left;
  padding-left: 13rem;
}

.about-content {
  position: relative;
  text-align: left;
  max-width: 850px;
  margin-bottom: 3.6rem;
}
.about-content h3 {
  font-family: "josefin-sans", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
}
.about-content .info-list {
  list-style: none;
  margin-left: 0;
}
.about-content .info-list li {
  padding: 0 0 1.5rem 0;
  margin-bottom: .6rem;
}
.about-content .info-list li strong {
  font-family: "josefin-sans", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.5rem;
  line-height: 3rem;
}
.about-content .info-list li span {
  display: block;
  font-family: "josefin-sans", sans-serif;
  color: #888888;
  font-size: 1.5rem;
  line-height: 1;
}
.about-content .skill-bars {
  margin-top: 6rem;
}

.button-section {
  text-align: center;
}
.button-section .button {
  width: 250px;
}
.button-section [class*="col-"] .button:first-child {
  margin-right: 4rem;
}

/*Responsive about*/

@media only screen and (max-width:1024px) {
  .intro-info {
    margin-right: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width:768px) {
  .intro-info img {
    height: 7.8rem;
    width: 7.8rem;
  }
  .intro-info .lead {
    padding-left: 11rem;
  }
  .about-content h3 {
    text-align: center;
  }
  .about-content .info-list, .about-content .skill-bars {
    margin-bottom: 4.2rem;
  }
  .button-section .button {
    width: 100%;
    margin-bottom: 3rem;
  }
  .button-section [class*="col-"] .button:first-child {
    margin-right: 0;
  }
}
@media only screen and (max-width:600px) {
  .intro-info {
    text-align: center;
    margin-top: 3rem;
  }
  .intro-info img {
    height: 6.6rem;
    width: 6.6rem;
    float: none;
    display: inline-block;
  }
  .intro-info .lead {
    padding-left: 0;
    text-align: center;
  }
}

/*Resume*/


#resume {
  padding-top: 6rem;
}

#resume .resume-header {
  text-align: center;
}


#resume .resume-timeline {
  max-width: 100%;
}
#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 0;
}
#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}
#resume .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 35%;
  top: .9rem;
  margin-left: -2.4rem;
}
#resume .timeline-ico i {
  position: relative;
  left: .05rem;
  top: .2rem;
}

#resume .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}
#resume .timeline-header h3 {
  margin-bottom: 0;
}
#resume .timeline-header p {
  font-family: "josefin-sans", sans-serif;
  font-size: 1.5rem;
  color: #888888;
}
#resume .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
}
#resume .timeline-content h3 {
  position: relative;
  padding-bottom: 0.5rem;
}
#resume .timeline-content h3::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

/*Responsive Resume*/

@media only screen and (max-width:1024px) {
  #resume .timeline-header {
    padding-right: 50px;
  }
  #resume .timeline-header h3 {
    font-size: 1.8rem;
  }
  #resume .timeline-header p {
    font-size: 1.4rem;
  }
  #resume .timeline-content {
    padding-left: 50px;
  }
}
@media only screen and (max-width:768px) {
  #resume .timeline-wrap::before {
    left: 2.4rem;
  }
  #resume .timeline-ico {
    left: 2.4rem;
  }
  #resume .timeline-header {
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
  }
  #resume .timeline-header h3 {
    font-size: 2rem;
  }
  #resume .timeline-header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #resume .timeline-content {
    margin: 0;
  }
  #resume .timeline-content h3 {
    padding-bottom: 0;
    padding-top: 2.1rem;
    margin-bottom: .6rem;
    font-size: 1.7rem;
  }
  #resume .timeline-content h3::after {
    bottom: auto;
    top: 0;
  }
  #resume .timeline-header, #resume .timeline-content {
    padding-left: 7rem;
  }
  .skill-bars {
  list-style: none;
  margin: 6rem -2.5rem;
  width: 100%;
}
@media only screen and (max-width:480px) {
  #resume .resume-header h2 {
    font-size: 2.2rem;
  }
  #resume .timeline-wrap::before {
    left: 1.8rem;
  }
  #resume .timeline-ico {
    height: 3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    left: 1.8rem;
    margin-left: -1.8rem;
    font-size: 1.5rem;
  }
  #resume .timeline-header, #resume .timeline-content {
    padding-left: 5.5rem;
  }
  .skill-bars {
  list-style: none;
  margin: 6rem -2.5rem;
  width: 110%;
}


/*GO TO TOP BUTTON*/

#go-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 600;
  display: none;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 6.6rem;
  width: 6rem;
  line-height: 6.6rem;
  text-align: center;
  background: #cc005f;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#go-top a i {
  font-size: 1.6rem;
  line-height: inherit;
}
#go-top a:hover {
  background: #000000;
}